.map {
  & {
    border: 2px solid gray;
    border-radius: 12px;
  }
}
.title {
  background-color: lightgray;
  margin-bottom: 2px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
agm-map {
  height: 500px;
  width: 100%;
}
