input {
  outline: none;
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }
}

.validations {
  color: red;
  right: 0;
}

button {
  font-size: 12px;
  color: white;
  &:hover {
    color: white;
  }
}

h5 {
  background-color: lightgray;
  padding: 8px;
  margin: -24px -39px 10px;
}
