<div class="container">
  <div class="dialog">
    <h5 class="title">Add new asset</h5>
    <form [formGroup]="form">
      <div class="row">
        <div class="field col-12 d-flex justify-content-between pt-3">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            [(ngModel)]="trackService.newName"
            formControlName="name"
          />
        </div>
        <div
          class="validations col-12 d-flex justify-content-end"
          *ngIf="form.get('name').invalid && form.get('name').touched"
        >
          <small>Field name is empty</small>
        </div>

        <div class="field col-12 d-flex justify-content-between">
          <label for="lat">Latitude</label>
          <input
            type="text"
            id="lat"
            name="lat"
            [(ngModel)]="trackService.newLat"
            formControlName="latitude"
          />
        </div>
        <div
          class="validations col-12 d-flex justify-content-end"
          *ngIf="form.get('latitude').invalid && form.get('latitude').touched"
        >
          <small>Field latitude is empty</small>
        </div>
        <div class="field col-12 d-flex justify-content-between">
          <label for="long">Longitude</label>
          <input
            type="text"
            id="long"
            name="long"
            [(ngModel)]="trackService.newLong"
            formControlName="longitude"
          />
        </div>
        <div
          class="validations col-12 d-flex justify-content-end"
          *ngIf="form.get('longitude').invalid && form.get('longitude').touched"
        >
          <small>Field longitude is empty</small>
        </div>
        <div
          mat-mat-dialog-actions
          class="col-12 d-flex justify-content-end mt-2"
        >
          <button mat-dialog-close type="button" class="btn btn-warning">
            Cancel
          </button>
          <button
            mat-dialog-close
            (click)="trackService.addTrack()"
            type="submit"
            [disabled]="form.invalid"
            class="btn btn-success ml-3"
          >
            Add
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
