<div class="container">
  <div class="dialog">
    <h5 class="dialog__title">Add new asset</h5>
    <form action="">
      <div class="row">
        <div class="col-4 d-flex flex-column">
          <label for="name">Name</label>
          <label for="lat">Latitude</label>
          <label for="long">Longitude</label>
        </div>
        <div class="col-8">
          <input
            type="text"
            id="name"
            name="name"
            [(ngModel)]="trackService.newName"
          />
          <input
            type="text"
            id="lat"
            name="lat"
            [(ngModel)]="trackService.newLat"
          />
          <input
            type="text"
            id="long"
            name="long"
            [(ngModel)]="trackService.newLong"
          />
          <div mat-mat-dialog-actions>
            <button mat-dialog-close>Cancel</button>
            <button mat-dialog-close (click)="trackService.addTrack()">
              Add
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
