input {
  outline: none;
  border: 1px solid gray;
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  padding-left: 8px;
}

.validations {
  color: red;
  right: 0;
  margin-top: -20px;
}

button {
  font-size: 14px;
  color: white;
  &:hover {
    color: white;
  }
}

h5 {
  background-color: lightgray;
  padding: 8px;
  margin: -24px -39px 10px;
}

small {
  font-size: 9px;
}

.field {
  margin-bottom: 15px;
}
